<a href="https://colab.research.google.com/github/umkiyoung/Time_series_analysis/blob/main/Stock_Price_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 주식 데이터 불러오기

In [ ]:
!pip install finance-datareader

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: finance-datareader in /usr/local/lib/python3.10/dist-packages (0.9.50)
Requirement already satisfied: requests-file in /usr/local/lib/python3.10/dist-packages (from finance-datareader) (1.5.1)
Requirement already satisfied: pandas>=0.19.2 in /usr/local/lib/python3.10/dist-packages (from finance-datareader) (1.5.3)
Requirement already satisfied: requests>=2.3.0 in /usr/local/lib/python3.10/dist-packages (from finance-datareader) (2.27.1)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from finance-datareader) (4.65.0)
Requirement already satisfied: lxml in /usr/local/lib/python3.10/dist-packages (from finance-datareader) (4.9.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.19.2->finance-datareader) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.19.2->finance-datareader) (1.22.4)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.19.2->finance-datareader) (2.8.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.3.0->finance-datareader) (3.4)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests>=2.3.0->finance-datareader) (2.0.12)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.3.0->finance-datareader) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.3.0->finance-datareader) (1.26.15)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from requests-file->finance-datareader) (1.16.0)

In [ ]:
import FinanceDataReader as fdr

In [ ]:
# 삼성전자(005930), 카카오 (035720), 하이브(352820), 더네이쳐홀딩스(298540), 코엔텍(029960)
stock = fdr.DataReader('005930', '2022-11-01', '2023-04-21')
stock.tail

<bound method NDFrame.tail of                   Open        High         Low       Close   Adj Close  \
Date
2022-11-01   95.449997   96.029999   90.370003   90.470001   90.470001
2022-11-02   90.940002   91.180000   86.879997   86.970001   86.970001
2022-11-03   86.320000   86.519997   83.339996   83.430000   83.430000
2022-11-04   85.400002   86.639999   83.709999   86.580002   86.580002
2022-11-07   87.279999   88.900002   86.849998   88.489998   88.489998
...                ...         ...         ...         ...         ...
2023-04-14  106.889999  108.940002  106.839996  108.870003  108.870003
2023-04-17  104.660004  106.160004  104.519997  105.970001  105.970001
2023-04-18  106.489998  106.540001  104.070000  104.500000  104.500000
2023-04-19  103.580002  104.980003  103.070000  104.180000  104.180000
2023-04-20  103.910004  106.250000  103.870003  105.290001  105.290001

              Volume
Date
2022-11-01  47161400
2022-11-02  57038300
2022-11-03  61288000
2022-11-04  51124900
2022-11-07  34078900
...              ...
2023-04-14  26547800
2023-04-17  37571200
2023-04-18  26596400
2023-04-19  20905700
2023-04-20  27820800

[117 rows x 6 columns]>

## NMAE

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
stocks = []
for i in ['005930', '035720', '352820', '298540', '029960'] : 
    stock = fdr.DataReader(i, '2023-04-24', '2023-04-28')
    for j in range(5) :
        stocks.append(stock['Close'][j])

In [ ]:
submission = pd.DataFrame()
submission['Date'] = [20230424,20230425,20230426,20230427,20230428]
submission['samsung_real'] = stocks[:5]
submission['kakao_real'] = stocks[5:10]
submission['hive_real'] = stocks[10:15]
submission['nature_real'] = stocks[15:20]
submission['koen_real'] = stocks[20:25]

submission

       Date  samsung_real  kakao_real  hive_real  nature_real  koen_real
0  20230424         65200       57200     259000        28000       7170
1  20230425         63600       56000     260500        27750       7080
2  20230426         64100       56500     265000        28800       7100
3  20230427         64600       55800     264000        28000       7110
4  20230428         65500       58100     270000        28250       7070

In [ ]:
# 오른쪽 항은 예측값을 넣으시면 됩니다!
## 아래의 오른쪽 항은 산식 산출 확인을 위해 임의로 넣은 값입니다!

submission['samsung_forecast'] = [65200] * 5
submission['kakao_forecast'] = [57200] * 5
submission['hive_forecast'] = [259000] * 5
submission['nature_forecast'] = [28000] * 5
submission['koen_forecast'] = [7170] * 5

## 이 아래는 수정 사항 없습니다.

a = np.sum(np.abs(submission['samsung_real']-submission['samsung_forecast']))/np.sum(submission['samsung_real'])
b = np.sum(np.abs(submission['kakao_real']-submission['kakao_forecast']))/np.sum(submission['kakao_real'])
c = np.sum(np.abs(submission['hive_real']-submission['hive_forecast']))/np.sum(submission['hive_real'])
d = np.sum(np.abs(submission['nature_real']-submission['nature_forecast']))/np.sum(submission['nature_real'])
e = np.sum(np.abs(submission['koen_real']-submission['koen_forecast']))/np.sum(submission['koen_real'])

final_score = np.mean([a,b,c,d,e]) * 100
final_score

1.240356275844318